body {
    background: #FFEC5C
}

h1 {
    
    font-family: 'Press Start 2P', cursive;
    color: #F47D4A;
}

div {
    font-family: 'Roboto Mono', monospace;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
}