body {
    background: #FFEC5C

}

h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #F47D4A;
    font-size: 16px;
}

h2 {
    text-align: right;
    font-family: 'Press Start 2P', cursive;
    color: #F47D4A;
}

div {
    font-family: 'Roboto Mono', monospace;
    text-justify: auto;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.wrapper {
    display: grid;
    grid-column-end: auto;
    grid-gap: 2px;
    -ms-grid-row-align: center;
    outline-color: #008DCB;
    outline-style: solid;
    outline-width: 2px;
}


footer {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #F47D4A;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(244, 253, 112);
    padding: 10px;
}
