body {
    background: #FFEC5C
}

header {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #F47D4A;
}

div {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.wrapper {
    display: grid;
    grid-column-end: span;
    grid-gap: 5px;
    -ms-grid-row-align: center;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two { 
    grid-column: 2 ;
    grid-row: 1;
  }
  .three {
    grid-column: 1;
    grid-row: 2;
  }
  .four {
    grid-column: 1;
    grid-row: 2;
  }
  .five {
    grid-column: 3;
    grid-row: 1;
  }


footer {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #F47D4A;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(244, 253, 112);
    padding: 10px;
}